* {
    font-family: Consolas, monaco, monospace; 
}

#banner {
    background-image: url(./Photos/background.jpg);
    background-size: cover;
    background-position: bottom center;
    height: 200px;
    width: 100%;
}

#banner-name {
    border: solid 3px white;
    position: relative;
    top: 50px;
    width: 400px;
    margin: 0 auto;
    color: bisque;
    text-align: center;
  }

#navigation {
    border: solid 5px white;
    position: relative;
}

#nav-pg {
    border: solid 5px aquamarine;
    position: relative;
}

#navigation-text {
    color: aqua;
    position: relative;
}

.setup {
    background-color: blanchedalmond;
}

#copyright {
    background-color: gray;
    color: white;
}

.header h2 {
    background-color: gray;
    color: white;
}

.header {
    background-color: blanchedalmond;
}
